
header {
  display: block;
  background-color: red;
  
  }
 section.column-1 {
   background-color: gray;
   display: inline-block;
   width: 48%;
   padding: 2px;
 }
 section.column-1 p {
   color: pink;
 }
 section.column-2 {
   background-color: blue;
   display: inline-block;
   width: 48%;
   vertical-align: top;
   padding: 4px;
   padding-bottom: 55px;
 }
 section.column-2 h2 {
   color: white;
 }
 footer {
   background-color: purple;
   margin-top: 15px;
 }
 
 h2 {
    text-decoration: underline;
}